# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
buildmain
buildDemo
.vscode
*.log
html/
src/mainpage.h
src/a.out
src/test.cpp
src/meta_driver
src/old
src/Scan_service.bsdl
ppaperwork.yml
documentation
BoundaryScan
ppaperwork.sh
*.old
.devcontainer